/* @import 'tailwindcss'; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Body tidak boleh scroll */
/* html, body {
    height: 100%;
    overflow: hidden;
} */

/* Layout full tinggi */
/* .page {
    height: 100vh;
} */

/* Wrapper pakai flex column */
/* .page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
} */

/* Hanya bagian content yang boleh scroll */
/* .page-body {
    flex: 1;
    overflow-y: auto;
} */

html, body {
    height: 100%;
    overflow: hidden;
}

.page {
    height: 100vh;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-body {
    flex: 1;
    overflow-y: auto;
}

.menu-icon {
    font-size: 18px;
    width: 22px;
}

#fraudTable.dataTable tbody td {
    font-size: 13px;
}

#fraudTable.dataTable thead th {
    font-size: 12px;
}

